body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    overflow: hidden;
}

.outercontainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid;
    background-color: whitesmoke;
}

#display {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
    border: 0.5px solid;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 4px;
    color: black;
    text-align: right;
    font-size: 1.5em;
}

.mbutton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    text-align: center;
    border: 0.5px solid grey;
    border-collapse: collapse;
    height: 40px;
    line-height: 40px;
    background-color: white;
    font-weight: bold;
}

#equal {
    background-color: rgb(119, 192, 9);
    color: white;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.note {
    /* margin-top: 10px;  */
    width: 250px;
    background-color: rgb(119, 192, 9);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: 0.9em;
}

.note ul {
    list-style-type: square;
}

.note li {
    margin-bottom: 5px;
}

@media screen and (max-width:500px) {
    body {
        flex-direction: column;
        flex-wrap: wrap;
    }

}